<html>
<head>
<link rel= "stylesheet" type="text/css" href="quizCrafterCSS.css"></link>
</head>

<body>

<div id = "quizMakerForeground" ng-style = "savedPara()">

<h1>Adjust the Style</h1>

<h3 class = "test">Sample of the question area.</h3>

<h4 class = "answerArea">
<div class = "sampleAnswers">Sample of the answer area.</div>
<div class = "sampleAnswers">Where multiple choice questions</div>
<div class = "sampleAnswers">may appear in your quiz depending</div>
<div class = "sampleAnswers">on the number you choose.</div></h4>

<!--Question Area Background-->
<h2>Question Area Background</h2>
<div class = 'paragraphBox'>Question area background <span style="color:red">
(red value: 0-255)</span>:</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(pbRed, 'pbRed', 0, 'test', 10)">--</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(pbRed, 'pbRed', 0, 'test', 250)">-</div>
<div class = 'inputBox' ng-model= 'pbRed'>{{pbRed}}</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(pbRed, 'pbRed', 0, 'test', 250)">+</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(pbRed, 'pbRed', 0, 'test', 10)">++</div>

<div class = 'paragraphBox'>Question area background <span style="color:blue">
(blue value: 0-255)</span>:</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(pbBlue, 'pbBlue', 1, 'test', 10)">--</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(pbBlue, 'pbBlue', 1, 'test', 250)">-</div>
<div class = 'inputBox' ng-model="pbBlue">{{pbBlue}}</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(pbBlue, 'pbBlue', 1, 'test', 250)">+</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(pbBlue, 'pbBlue', 1, 'test', 10)">++</div>

<div class = 'paragraphBox'>Question area background <span style="color:green">
(green value: 0-255)</span>: </div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(pbGreen, 'pbGreen', 2, 'test', 10)">--</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(pbGreen, 'pbGreen', 2, 'test', 250)">-</div>
<div class = 'inputBox' ng-model="pbGreen">{{pbGreen}}</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(pbGreen, 'pbGreen', 2, 'test', 250)">+</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(pbGreen, 'pbGreen', 2, 'test', 10)">++</div>

<!--Question Area Text Color-->
<h2>Question Area Text</h2>
<div class = 'paragraphBox'>Question area text <span style="color:red">
(red value: 0-255)</span>:</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(ptRed, 'ptRed', 3, 'test', 10)">--</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(ptRed, 'ptRed', 3, 'test', 250)">-</div>
<div class = 'inputBox' ng-model='ptRed'>{{ptRed}}</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(ptRed, 'ptRed', 3, 'test', 250)">+</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(ptRed, 'ptRed', 3, 'test', 10)">++</div>

<div class = 'paragraphBox'>Question area text <span style="color:blue">
(blue value: 0-255)</span>:</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(ptBlue, 'ptBlue', 4, 'test', 10)">--</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(ptBlue, 'ptBlue', 4, 'test', 250)">-</div>
<div class = 'inputBox' ng-model="ptBlue">{{ptBlue}}</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(ptBlue, 'ptBlue', 4, 'test', 250)">+</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(ptBlue, 'ptBlue', 4, 'test', 10)">++</div>

<div class = 'paragraphBox'>Question area text <span style="color:green">
(green value: 0-255)</span>: </div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(ptGreen, 'ptGreen', 5, 'test', 10)">--</div>
<div class = 'minusBox' ng-Mousedown="toggleColorDecrease(ptGreen, 'ptGreen', 5, 'test', 250)">-</div>
<div class = 'inputBox' ng-model="ptGreen">{{ptGreen}}</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(ptGreen, 'ptGreen', 5, 'test', 250)">+</div>
<div class = 'addBox' ng-Mousedown="toggleColorIncrease(ptGreen, 'ptGreen', 5, 'test', 10)">++</div>

<div class = 'button'  ng-click = "page('makeCSS2.html')"> Continue </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="quizCrafterAngular.js"></script>
</body>

</html>
